:root {
  --primary-color: #8ebbc0;
  --secondary-color: #edf5f6;
}

body {
  font-family: "Poppins", serif;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 80px 100px;
}

section.secondary {
  background: var(--secondary-color);
  padding: 40px;
}

.btn-container {
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 40px;
  padding-top: 20px;
  background: var(--secondary-color);
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 30px;
}

nav a {
  text-decoration: none;
  color: black;
  transition: all 150ms ease-in-out;
}

nav a:hover {
  color: var(--primary-color);
}

nav .logo {
  max-height: 40px;
  transition: all 150ms ease-in-out;
}

nav .logo:hover {
  transform: scale(1.1);
}

.video-container {
  position: relative;
  overflow: hidden;
}
video {
  max-width: 100%;
  max-height: 100%;
}

.heading-overlay {
  position: absolute;
  top: 10px;
  bottom: 3px;
  left: 20px;
  color: white;
  font-size: 96px;

  padding: 10px;
  line-height: 1;
}

.paragraph-overlay {
  position: absolute;
  bottom: 5px;
  right: 30px;
  color: white;
  opacity: 0.8;
  font-size: 20px;
  font-weight: 300;

  padding: 10px;
  line-height: 1;
}

.h1-thin {
  font-weight: 200;
}

h2 {
  font-size: 30px;

  color: white;
  margin-left: 35px;
}

h3 {
  font-size: 25px;
  font-weight: 800;
  color: #102224;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2.5px;
  color: #102224;
  opacity: 0.4;
}

h5 {
  font-size: 35px;
  font-weight: 900;
  color: #102224;
}

p {
  opacity: 0.6;
  font-size: 16px;
  line-height: 1.5;
}

.index-img {
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(142, 187, 192, 0.4);
}

.text-container {
  background: #8ebbc0;

  border-radius: 10px;
  width: 25%;
  box-shadow: 0 5px 10px rgba(142, 187, 192, 0.4);
}

.page-introduction {
  margin-bottom: -40px;
}

hr {
  border: 5px solid #b1dde4;
  border-radius: 10px;
  width: 400px;
}

.hr-top {
  border: 5px solid #b1dde4;
  margin: 50px 0;
  width: 50%;
  border-radius: 10px;
}

.hr-bottom {
  border: 5px solid #b1dde4;
  margin: 50px 0;
  width: 50%;
  margin-left: 500px;
  border-radius: 10px;
}

.primary-btn-style {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  padding: 15px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.primary-btn-style:hover {
  background: var(--primary-color);
  color: white;
  padding: 15px 20px;
  font-weight: 700;
}

.primary-btn-reverse {
  display: block;
  max-width: 300px;
  margin: 0 auto;
  background: var(--primary-color);
  color: white;
  padding: 15px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 5px 10px rgba(142, 187, 192, 0.4);
  transition: all 200ms ease-in-out;
}

.primary-btn-reverse:hover {
  background: var(--primary-color);
  color: white;
  transform: scale(1.1);
}

.home-bled-text {
  padding: 70px 30px;
}

.ai-link-container {
  margin: 60px 30px;
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

.card-list .card-item .card-image {
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(142, 187, 192, 0.4);
  transition: transform 0.3s ease;
}

.card-list .card-item .card-image:hover {
  transform: translateY(-10px);
}

.card-list .card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-tag {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #102224;
  opacity: 0.4;
}

.wrapper {
  max-width: 1200px;
  padding: 20px 10px;
  margin: 20px 60px;
  overflow: hidden;
}

.wrapper .swiper-pagination {
  margin-bottom: 30px;
}

.wrapper .swiper-pagination-bullet {
  height: 15px;
  width: 15px;
  overflow: hidden;
  opacity: 1;
  background: #b1dde4;
}

.wrapper .swiper-slide-button {
  color: #b1dde4;
  transition: all 200ms ease;
}

.wrapper .swiper-slide-button:hover {
  color: var(--primary-color);
}

.gallery-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 20px 0;
}

.gallery-container .boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gallery-container .boxes .box {
  display: flex;
  flex-direction: column;
  width: 32.5%;
}

.gallery-container .boxes .box img {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
}

footer small {
  opacity: 0.6;
}

footer .social-links a {
  margin: 0 20px;
  color: white;
  background: var(--primary-color);
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 200ms ease-in-out;
}

footer .social-links a:hover {
  color: var(--primary-color);
  background: white;
}

footer small a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

footer small a:hover {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 700;
}

@media (max-width: 700px) {
  .heading-overlay {
    font-size: 30px;
  }
  .paragraph-overlay {
    font-size: 13px;
  }
  nav li {
    font-size: 12px;
  }

  h2 {
    font-size: 25px;
  }
  p {
    font-size: 13px;
  }

  h3 {
    font-size: 20px;
  }

  .wrapper {
    margin: 0 20px 20px;
  }
  .wrapper .swiper-slide-button {
    display: none;
  }

  .gallery-container .boxes {
    flex-direction: column;
  }

  .gallery-container .boxes .box {
    width: 100%;
  }
}
